
.b-question {
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  margin-bottom: -1px;
  color: #FFF;
  .opacity(0);

  &__answer {
    display: inline-block;
    position: relative;
  }

  &__answer-mask {
    visibility: hidden;
    color: rgba(0,0,0,0);
  }

  &__answer-user {
    position: absolute;
    left: 0;
    top: 0;
  }
}
