
.b-keypad {
  font-size: 0;
  line-height: 0;
  margin-right: -1px;
  
  &__cell {
    display: inline-block;
    width: 106px;
    height: 55px;
    margin: 1px 1px 0 0;
  }
  
  &__btn {
    display: block;
    height: 55px;
    margin: 0 auto;
    line-height: 57px;
    font-size: 20px;
    .box-sizing(border-box);
    .btn();

    &_ok .fa{
      .rotate3d(0, 0, 1, 90);
    }
  }
}
