/* CUSTOM FUNCTIONS */

.btn() {
  &, &:link, &:hover, &:visited {
    text-decoration: none;
    color: #FFF;
  }
  &, &:link, &:visited {
    background: rgba(255,255,255,0.2);
  }
  &:hover {
    background: none;
  }

  &.disabled {
    background: rgba(255,255,255,0.1) !important;
    &, &:link, &:hover, &:visited, & * {
      color: rgba(255,255,255,0.4) !important;
    }
  }
}

.btn-empty() {
  &, &:link, &:hover, &:visited {
    text-decoration: none;
    color: #FFF;
  }
  &, &:link, &:visited {
    border-color: #FFF;
  }
  &:hover {
    background: rgba(255,255,255,0.1);
  }

  &.disabled {
    border-color: rgba(255,255,255,0.2) !important;
    &, &:link, &:hover, &:visited, & * {
      color: rgba(255,255,255,0.4) !important;
      background: none !important;
    }
  }
}