
.b-status {
  font-size: 0;
  line-height: 0;
  
  &__row {
    display: block;
  }

  &__cell,
  &__item {
    display: inline-block;
  }

  &__timer {
    height: 2px;
  }

  &__row {
    margin-top: 30px;
  }

  &__cell {
    padding: 8px;
  }

  &__item {
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 14px;
    font-style: normal;
    color: #FFF;
    // background: #FFF;
    border: 1px solid #FFF;
    .border-radius(50%);
    .box-sizing(border-box);
    
    & .fa {
      font-size: 0;
    }
    
    &_passed {
      border-color: #FFF;
      border-width: 2px;
      line-height: 26px;
      color: #FFF;
      font-size: 0;
      
      & .fa {
        line-height: 26px;
        font-size: 14px;
      }
    }
  }

  &__timer {
      width: 100%;
      position: relative;
      overflow: hidden;
      background: rgba(255,255,255,0.2);
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 65%;
        background: rgba(255,255,255,0.75);
      }
    }
}

// .style_1, .style_2 {

//   .b-status {
    
    
//   }
// }

// .style_2 {
//   .b-status {

//     &__row {
//       margin-top: 30px;
//       // padding: 0 10px;
//     }

//     &__cell {
//       // width: 23%;
//       padding: 8px;
//       // padding-bottom: 10px;
//     }

//     &__item {
//       width: 30px;
//       height: 30px;
//       line-height: 28px;
      
//       &_passed {
//         border-color: #FFF;
//         border-width: 2px;
//         line-height: 34px;
//         color: #FFF;
//         font-size: 0;
        
//         & .fa {
//           line-height: 26px;
//           font-size: 14px;
//         }
//       }
//     }

//     &__timer {
//       width: 100%;
//       position: relative;
//       overflow: hidden;
//       background: rgba(255,255,255,0.2);
//       &:before {
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         bottom: 0;
//         width: 65%;
//         background: rgba(255,255,255,0.75);
//       }
//     }
//   }
// }

// .style_2 {

//   .b-status {
    
//     &__row {
//       margin-top: 80px;
//     }

//     &__cell {
//       position: relative;
//       top: -2px;
//       // width: 23%;
//       padding: 0 6px;
//       // padding-bottom: 10px;
//       &:nth-child(11), &:nth-child(12) {
//         display: none;
//       }
//     }

//     &__item {
//       position: relative;
//       width: 18px;
//       height: 18px;
//       background: rgba(255,255,255,0.8);
//       .border-radius(50%);
//       .box-sizing(border-box);
//       line-height: 18px;
//       font-size: 11px;
//       font-style: normal;
//       font-weight: 700;
//       color: #AFB42B;
//       // color: #FFF;
//       // // background: #FFF;
//       // border: 1px solid transparent;
      
//       & .fa {
//         font-size: 0;
//       }
      
//       &_passed {
//         background: #FFF;
//         background: rgba(255,255,255,0.8);
//         font-size: 0;
        
//         & .fa {
//           line-height: 20px;
//           font-size: 11px;
//         }

//         &:before {
//           content: "";
//           position: absolute;
//           top: 50%;
//           right: 100%;
//           width: 12px;
//           height: 4px;
//           margin-top: -2px;
//           background: #FFF;
//           background: rgba(255,255,255,0.8);
//         }
//       }
//     }

//     &__cell:first-child .b-status__item_passed:before {
//       width: 100px;
//     }

//     &__timer {
//       width: 100%;
//       position: relative;
//       overflow: hidden;
//       background: rgba(255,255,255,0.2);
//       &:before {
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         bottom: 0;
//         width: 65%;
//         background: rgba(255,255,255,0.75);
//       }
//     }
//   }
// }