
.b-screen {
  overflow: hidden;
  background: #FFF;

  color: #FFF;
  font-weight: 100;
  // .background-image(linear-gradient(0deg, #F44843 0%, #951F77 100%));
  // .background-image(linear-gradient(to bottom, lighten(#D32F2F, 10%) 0%, #D32F2F 100%));
  .background-image(linear-gradient(to bottom, #C04848 0%, #600F48 100%));
  .background-image(linear-gradient(to bottom, #F44843 0%, #951F77 100%));
  // .background-image(linear-gradient(to bottom, #C2185B 0%, #7C4DFF 100%));
  .background-image(linear-gradient(to bottom, #AFB42B 0%, #4CAF50 100%));
  

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}