
.b-pause {
  text-align: center;
  
  &__cell {
    display: inline-block;
    width: 100%;
    margin-top: 1px;
  }

  &__btn {
    display: block;
    height: 80px;
    line-height: 78px;
    font-size: 20px;
    .box-sizing(border-box);
    .btn();
  }

  &__icon {
    display: block;
    margin-top: 40px;

    & .fa {
      line-height: 120px;
      font-size: 120px;
      color: rgba(255, 255, 255, 0.5);
    }

    &_medium .fa {
      font-size: 80px;
    }
  }
}