
.b-status {
  margin-top: 30px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;

  &__row {
    display: block;
  }

  &__cell,
  &__item {
    display: inline-block;
  }

  &__timer {
    height: 2px;
  }

  &__cell {
    padding: 8px;
  }

  &__item {
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 14px;
    font-style: normal;
    color: #FFF;
    // background: #FFF;
    border: 1px solid #FFF;
    .border-radius(50%);
    .box-sizing(border-box);

    & .fa {
      font-size: 0;
    }

    &_passed {
      border-color: #FFF;
      border-width: 2px;
      line-height: 26px;
      color: #FFF;
      font-size: 0;

      & .fa {
        line-height: 26px;
        font-size: 14px;
      }
    }
  }

  &__timer {
    width: 100%;
    position: relative;
    background: rgba(255,255,255,0.2);
    &:before {
      display: none;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 65%;
      background: rgba(255,255,255,0.75);
    }
  }

  &__timer-fill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    .translate3d(0, 0, 0);

    &.ready-timer {
      .translate3d(-100%, 0, 0);
    }

    &.start-timer {
      .translate3d(0, 0, 0);
    }
  }

  &__timer-startup {
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    height: 80px;
    width: 100%;
    line-height: 80px;
    font-size: 50px;
    overflow: hidden;
    background: rgba(255,255,255,0.75);
    .transition(height 250ms ease-in);

    &.startup-timeout {
      height: 0;
    }
  }
}

@media (min-height: 560px) and (min-width: 360px) and (orientation: portrait) {
  .b-status {
    margin-top: 50px;

    &__item {
      width: 35px;
      height: 35px;
      line-height: 33px;
    }
  }
}

@media (min-height: 640px) and (orientation: portrait) {
  .b-status {
    margin-top: 80px;
  }
}
