@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
/****************
 *   BOOTSTRAP
 ****************/
/* VARIABLES */
/**
 * VARIABLES
 * Переменные верстки
 */
/* HELP-FUNCTIONS */
/* CUSTOM FUNCTIONS */
/* SPRITES */
/**
 * SPRITES
 * Функции для вставки изображений со спрайта
 */
.icon {
  background-image: url('/static/bem-blocks/icons/sprite.png');
}
/* NORMALIZE + DEFAULT */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.b-screen {
  overflow: hidden;
  background: #FFF;
  color: #FFF;
  font-weight: 100;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNjMDQ4NDgiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzYwMGY0OCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #c04848 0%, #600f48 100%);
  background-image: -moz-linear-gradient(top, #c04848 0%, #600f48 100%);
  background-image: -o-linear-gradient(top, #c04848 0%, #600f48 100%);
  background-image: linear-gradient(to bottom, #c04848 0%, #600f48 100%);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmNDQ4NDMiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk1MWY3NyIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #f44843 0%, #951f77 100%);
  background-image: -moz-linear-gradient(top, #f44843 0%, #951f77 100%);
  background-image: -o-linear-gradient(top, #f44843 0%, #951f77 100%);
  background-image: linear-gradient(to bottom, #f44843 0%, #951f77 100%);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhZmI0MmIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRjYWY1MCIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #afb42b 0%, #4caf50 100%);
  background-image: -moz-linear-gradient(top, #afb42b 0%, #4caf50 100%);
  background-image: -o-linear-gradient(top, #afb42b 0%, #4caf50 100%);
  background-image: linear-gradient(to bottom, #afb42b 0%, #4caf50 100%);
}
.b-screen__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.b-main__title {
  margin: 50px 0 0;
  line-height: 50px;
  font-size: 50px;
  font-weight: 100;
}
.b-main__subtitle {
  margin: 30px 0 0;
  line-height: 30px;
  font-size: 30px;
  font-weight: 100;
}
.b-main__description {
  display: block;
  margin-top: 25px;
  line-height: 18px;
  font-size: 18px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.8);
}
.b-main__games {
  font-size: 0;
  line-height: 0;
  margin-right: -1px;
}
.b-main__cell {
  display: inline-block;
  width: 50%;
}
.b-main__item {
  position: relative;
  overflow: hidden;
  display: block;
  height: 80px;
  margin: 1px 1px 0 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-main__item,
.b-main__item:link,
.b-main__item:hover,
.b-main__item:visited {
  text-decoration: none;
  color: #FFF;
}
.b-main__item,
.b-main__item:link,
.b-main__item:visited {
  background: rgba(255, 255, 255, 0.2);
}
.b-main__item:hover {
  background: none;
}
.b-main__item.disabled {
  background: rgba(255, 255, 255, 0.1) !important;
}
.b-main__item.disabled,
.b-main__item.disabled:link,
.b-main__item.disabled:hover,
.b-main__item.disabled:visited,
.b-main__item.disabled * {
  color: rgba(255, 255, 255, 0.4) !important;
}
.b-main__item-title {
  display: block;
  margin-top: 8px;
  line-height: 20px;
  font-size: 20px;
  text-transform: capitalize;
}
.b-main__item-subtitle {
  display: block;
  margin-top: 12px;
  line-height: 14px;
  font-size: 14px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.8);
}
.b-main__item_finished i {
  position: absolute;
  right: 0;
  bottom: 0;
  color: rgba(255, 255, 255, 0.2);
  font-size: 50px;
}
.b-topbar {
  height: 30px;
  padding: 0 5px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);
}
.b-topbar__level,
.b-topbar__score,
.b-topbar__pause,
.b-topbar__back {
  display: block;
}
.b-topbar__level,
.b-topbar__back {
  float: left;
}
.b-topbar__score {
  width: 150px;
  margin: 0 auto;
  font-size: 26px;
}
.b-topbar__pause {
  float: right;
}
.b-topbar__back .fa {
  font-size: 22px;
}
.b-question {
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  margin-bottom: -1px;
  color: #FFF;
}
.b-keypad {
  font-size: 0;
  line-height: 0;
  margin-right: -1px;
}
.b-keypad__cell {
  display: inline-block;
  width: 106px;
  height: 55px;
  margin: 1px 1px 0 0;
}
.b-keypad__btn {
  display: block;
  height: 55px;
  margin: 0 auto;
  line-height: 57px;
  font-size: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-keypad__btn,
.b-keypad__btn:link,
.b-keypad__btn:hover,
.b-keypad__btn:visited {
  text-decoration: none;
  color: #FFF;
}
.b-keypad__btn,
.b-keypad__btn:link,
.b-keypad__btn:visited {
  background: rgba(255, 255, 255, 0.2);
}
.b-keypad__btn:hover {
  background: none;
}
.b-keypad__btn.disabled {
  background: rgba(255, 255, 255, 0.1) !important;
}
.b-keypad__btn.disabled,
.b-keypad__btn.disabled:link,
.b-keypad__btn.disabled:hover,
.b-keypad__btn.disabled:visited,
.b-keypad__btn.disabled * {
  color: rgba(255, 255, 255, 0.4) !important;
}
.b-keypad__btn_ok .fa {
  -webkit-transform: rotate3d(0, 0, 1, 90deg);
  -moz-transform: rotate3d(0, 0, 1, 90deg);
  -o-transform: rotate3d(0, 0, 1, 90deg);
  -ms-transform: rotate3d(0, 0, 1, 90deg);
  transform: rotate3d(0, 0, 1, 90deg);
}
.b-status {
  font-size: 0;
  line-height: 0;
}
.b-status__row {
  display: block;
}
.b-status__cell,
.b-status__item {
  display: inline-block;
}
.b-status__timer {
  height: 2px;
}
.b-status__row {
  margin-top: 30px;
}
.b-status__cell {
  padding: 8px;
}
.b-status__item {
  width: 30px;
  height: 30px;
  line-height: 28px;
  font-size: 14px;
  font-style: normal;
  color: #FFF;
  border: 1px solid #FFF;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  behavior: url(/static/js/vendor/PIE.htc);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-status__item .fa {
  font-size: 0;
}
.b-status__item_passed {
  border-color: #FFF;
  border-width: 2px;
  line-height: 26px;
  color: #FFF;
  font-size: 0;
}
.b-status__item_passed .fa {
  line-height: 26px;
  font-size: 14px;
}
.b-status__timer {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
}
.b-status__timer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 65%;
  background: rgba(255, 255, 255, 0.75);
}
.b-levels {
  padding-bottom: 20px;
}
.b-levels__row {
  display: block;
  font-size: 0;
  line-height: 0;
}
.b-levels__cell {
  display: inline-block;
  padding: 10px 10px;
  margin: 1px 1px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-levels__item {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 14px;
  line-height: 38px;
  border: 1px solid #FFF;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  behavior: url(/static/js/vendor/PIE.htc);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-levels__item,
.b-levels__item:link,
.b-levels__item:hover,
.b-levels__item:visited {
  text-decoration: none;
  color: #FFF;
}
.b-levels__item,
.b-levels__item:link,
.b-levels__item:visited {
  border-color: #FFF;
}
.b-levels__item:hover {
  background: rgba(255, 255, 255, 0.1);
}
.b-levels__item.disabled {
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.b-levels__item.disabled,
.b-levels__item.disabled:link,
.b-levels__item.disabled:hover,
.b-levels__item.disabled:visited,
.b-levels__item.disabled * {
  color: rgba(255, 255, 255, 0.4) !important;
  background: none !important;
}
.b-levels__item .fa {
  font-size: 0;
  line-height: 38px;
}
.b-levels__item_main {
  line-height: 36px;
  font-size: 20px;
  border-width: 2px;
}
.b-levels__item_main .fa {
  line-height: 36px;
}
.b-levels__item_finished {
  font-size: 0;
}
.b-levels__item_finished .fa {
  font-size: 18px;
}
.b-pause {
  text-align: center;
}
.b-pause__cell {
  display: inline-block;
  width: 100%;
  margin-top: 1px;
}
.b-pause__btn {
  display: block;
  height: 80px;
  line-height: 78px;
  font-size: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-pause__btn,
.b-pause__btn:link,
.b-pause__btn:hover,
.b-pause__btn:visited {
  text-decoration: none;
  color: #FFF;
}
.b-pause__btn,
.b-pause__btn:link,
.b-pause__btn:visited {
  background: rgba(255, 255, 255, 0.2);
}
.b-pause__btn:hover {
  background: none;
}
.b-pause__btn.disabled {
  background: rgba(255, 255, 255, 0.1) !important;
}
.b-pause__btn.disabled,
.b-pause__btn.disabled:link,
.b-pause__btn.disabled:hover,
.b-pause__btn.disabled:visited,
.b-pause__btn.disabled * {
  color: rgba(255, 255, 255, 0.4) !important;
}
.b-pause__icon {
  display: block;
  margin-top: 40px;
}
.b-pause__icon .fa {
  line-height: 120px;
  font-size: 120px;
  color: rgba(255, 255, 255, 0.5);
}
.b-pause__icon_medium .fa {
  font-size: 80px;
}
/**
/******************
 *   MAIN STYLES
 ******************/
/* DEFAULT STYLES */
/**
 * DEFAULT
 * Основные стили "по умолчанию"
 */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
/**
 * FONTS
 * Все подключаемые шрифты
 */
/* RESTYLE PLUGINS */
/**
 * RESTYLE PLUGINS
 * Перекрываем стили любых подключаемых плагинов
 */
