/**
 * DEFAULT
 * Основные стили "по умолчанию"
 */
html, body {
  height: 100%;
  position: relative;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

a, a:link, a:hover, a:visited {
  text-decoration: none;
  color: #FFF;
}

.ctext {
  color: #afb42b !important;
}
