
.b-keypad {
  font-size: 0;
  line-height: 0;
  margin-right: -1px;

  &__cell {
    display: inline-block;
    width: 33%;
    padding: 1px 1px 0 0;
    .box-sizing(border-box);

    &_middle {
      width: 34%;
    }
  }

  &__btn {
    display: block;
    height: 55px;
    margin: 0 auto;
    line-height: 57px;
    font-size: 20px;
    .box-sizing(border-box);
    .btn();

    &_ok .fa{
      .rotate3d(0, 0, 1, 90);
    }
  }
}

@media (min-height: 560px) and (orientation: portrait) {
  .b-keypad {
    &__btn {
      height: 60px;
      line-height: 62px;
    }
  }
}

@media (min-height: 600px) and (min-width: 360px) and (orientation: portrait) {
  .b-keypad {
    &__btn {
      height: 65px;
      line-height: 67px;
    }
  }
}
