
.b-screen {
  overflow: hidden;
  color: #FFF;
  font-weight: 100;
  .transition(background 500ms linear);

  &:before {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.4);
  }

  &, &.schoolboy {
    background: #558B2F;
    color: #C0CA33;
    .background-image(linear-gradient(to bottom, #C0CA33 0%, #558B2F 100%));
  }
  &.student {
    background: #2E7D32;
    color: #9CCC65;
    .background-image(linear-gradient(to bottom, #9CCC65 0%, #2E7D32 100%));
  }
  &.programmer {
    background: #00796B;
    color: #26C6DA;
    .background-image(linear-gradient(to bottom, #26C6DA 0%, #00796B 100%));
  }
  &.engineer {
    background: #0D47A1;
    color: #03A9F4;
    .background-image(linear-gradient(to bottom, #03A9F4 0%, #0D47A1 100%));
  }
  &.professor {
    background: #C71C1C;
    color: #F4511E;
    .background-image(linear-gradient(to bottom, #F4511E 0%, #C71C1C 100%));
  }
  &.einstein {
    background: #7B1FA2;
    .background-image(linear-gradient(to bottom, #D81B60 0%, #7B1FA2 100%));
  }
}
