
.b-main {

  &__title, &__subtitle, &__description {
    color: #FFF;
  }

  &__title {
    margin: 70px 0 0;
    line-height: 50px;
    font-size: 50px;
    font-weight: 100;
  }

  &__subtitle {
    margin: 70px 0 0;
    line-height: 40px;
    font-size: 40px;
    font-weight: 100;

    &_m40 {
      margin-top: 40px;
    }
  }

  &__description {
    display: block;
    margin: 20px 0 10px;
    line-height: 18px;
    font-size: 18px;
    font-style: normal;
    color: rgba(255,255,255,0.8);
  }

  &__games {
    font-size: 0;
    line-height: 0;
    margin-right: -1px;
  }

  &__cell {
    display: inline-block;
    width: 50%;
  }

  &__item {
    position: relative;
    overflow: hidden;
    display: block;
    height: 80px;
    margin: 1px 1px 0 0;
    padding: 10px;
    .box-sizing(border-box);
    .btn();

    &-title {
      display: block;
      margin-top: 8px;
      line-height: 20px;
      font-size: 20px;
      text-transform: capitalize;
    }

    &-subtitle {
      display: block;
      margin-top: 12px;
      line-height: 14px;
      font-size: 14px;
      font-style: normal;
      color: rgba(255,255,255,0.8);
    }

    &_finished i {
      position: absolute;
      right: 0;
      bottom: 0;
      color: rgba(255,255,255,0.2);
      font-size: 50px;
    }
  }
}

@media (min-height: 560px) and (orientation: portrait) {
  .b-main {
    &__description {
      margin: 35px 0 30px;
    }
  }
}

@media (min-height: 600px) and (min-width: 360px) and (orientation: portrait) {
  .b-main {
    &__description {
      margin: 45px 0 40px;
    }
  }
}
