<div class="b-topbar">
  <span class="b-topbar__level">Game <%=game_title%></span>
  <a href="#/game/<%=game_id%>/pause" class="b-topbar__pause"><i class="fa fa-pause"></i></a>
  <span class="b-topbar__score"><%=level_title%></span>
</div>
<div class="b-status" id="game-question-status">
  <span class="b-status__row">
    <% _.forEach(questions, function(item, key) { %>
      <% if (key>0 && key%6===0) { %></span><span class="b-status__row"><% } %>
      <span class="b-status__cell">
        <i class="b-status__item js-q-stat" data-question="<%=item%>"><%=item%><i class="fa fa-check"></i></i>
      </span>
    <% }); %>
  </span>
</div>
<style type="text/css">
.b-status__timer-fill.start-timer {
  -webkit-transition: transform <%=timer%>ms linear;
  transition: transform <%=timer%>ms linear;
}
</style>
<div class="b-page__bottom">
  <div class="b-status__timer"><span class="b-status__timer-startup" id="game-timer-startup"></span><span class="b-status__timer-fill" id="game-timer"></span></div>
  <div class="b-question" id="game-question-block"><span id="game-question"></span> = <span class="b-question__answer"><span class="b-question__answer-mask" id="game-answer-mask"></span><span class="b-question__answer-user" id="game-answer"></span></span></div>
  <div class="b-keypad" id="game-keypad">
    <span class="b-keypad__cell">
      <a href="javascript:void(0)" class="b-keypad__btn b-keypad__btn_7" data-button="7">7</a>
    </span>
    <span class="b-keypad__cell b-keypad__cell_middle">
      <a href="javascript:void(0)" class="b-keypad__btn b-keypad__btn_8" data-button="8">8</a>
    </span>
    <span class="b-keypad__cell">
      <a href="javascript:void(0)" class="b-keypad__btn b-keypad__btn_9" data-button="9">9</a>
    </span>
    <span class="b-keypad__cell">
      <a href="javascript:void(0)" class="b-keypad__btn b-keypad__btn_4" data-button="4">4</a>
    </span>
    <span class="b-keypad__cell b-keypad__cell_middle">
      <a href="javascript:void(0)" class="b-keypad__btn b-keypad__btn_5" data-button="5">5</a>
    </span>
    <span class="b-keypad__cell">
      <a href="javascript:void(0)" class="b-keypad__btn b-keypad__btn_6" data-button="6">6</a>
    </span>
    <span class="b-keypad__cell">
      <a href="javascript:void(0)" class="b-keypad__btn b-keypad__btn_1" data-button="1">1</a>
    </span>
    <span class="b-keypad__cell b-keypad__cell_middle">
      <a href="javascript:void(0)" class="b-keypad__btn b-keypad__btn_2" data-button="2">2</a>
    </span>
    <span class="b-keypad__cell">
      <a href="javascript:void(0)" class="b-keypad__btn b-keypad__btn_3" data-button="3">3</a>
    </span>
    <span class="b-keypad__cell">
      <a href="javascript:void(0)" class="b-keypad__btn b-keypad__btn_back" data-button="backspace"><i class="fa fa-angle-double-left"></i></a>
    </span>
    <span class="b-keypad__cell b-keypad__cell_middle">
      <a href="javascript:void(0)" class="b-keypad__btn b-keypad__btn_0" data-button="0">0</a>
    </span>
    <span class="b-keypad__cell">
      <a href="javascript:void(0)" class="b-keypad__btn b-keypad__btn_dot" data-button="dot">.</a>
    </span>
  </div>
</div>
