<% if (is_complete) { %>
  <h1 class="b-main__subtitle">Excellent</h1>
  <p class="b-main__description"><%=description%>&nbsp;</p>
  <span class="b-pause__icon"><i class="fa fa-smile-o"></i></span>
  <div class="b-page__bottom">
    <div class="b-pause">
      <span class="b-pause__cell">
        <a href="#/game/<%=next_game_id%>" class="b-pause__btn">Next&nbsp;level</a>
      </span>
      <span class="b-pause__cell">
        <a href="#/" class="b-pause__btn">Exit&nbsp;to&nbsp;menu</a>
      </span>
    </div>
  </div>
<% } else { %>
  <h1 class="b-main__subtitle">Ooops</h1>
  <p class="b-main__description"><%=description%>&nbsp;</p>
  <span class="b-pause__icon"><i class="fa fa-frown-o"></i></span>
  <div class="b-page__bottom">
    <div class="b-pause">
      <span class="b-pause__cell">
        <a href="#/game/<%=next_game_id%>" class="b-pause__btn">Try&nbsp;again</a>
      </span>
      <span class="b-pause__cell">
        <a href="#/" class="b-pause__btn">Exit&nbsp;to&nbsp;menu</a>
      </span>
    </div>
  </div>
<% } %>
