<div class="b-topbar">
  <a class="b-topbar__back" href="#/"><i class="fa fa-angle-left"></i>&nbsp;Main menu</a>
</div>
<h1 class="b-main__subtitle b-main__subtitle_m40"><%=title%></h1>
<div class="b-page__bottom">
  <div class="b-levels">
    <% _.forEach(games, function(game) { %>
      <div class="b-levels__row">
        <span class="b-levels__cell">
          <a href="<%=game.is_open?'#/game/'+game.id:'javascript:void(0)'%>"
             class="b-levels__item b-levels__item_main
             <%=!game.is_open?'disabled':''%>
             <%=game.is_complete?'b-levels__item_finished':''%>"
          ><%=game.title%><i class="fa fa-check"></i></a>
        </span>
        <% _.forEach(game.subgames, function(subgame) { %>
          <span class="b-levels__cell">
            <a href="<%=subgame.is_open?'#/game/'+subgame.id:'javascript:void(0)'%>"
               class="b-levels__item
               <%=!subgame.is_open?'disabled':''%>
               <%=subgame.is_complete?'b-levels__item_finished':''%>"
            ><%=subgame.title%><i class="fa fa-check"></i></a>
          </span>
        <% }); %>
      </div>
    <% }); %>
  </div>
</div>
