<h1 class="b-main__title">MathGame</h1>
<div class="b-page__bottom">
  <div class="b-main__games">
    <% _.forEach(levels, function(level) { %>
      <span class="b-main__cell">
        <a href="<%=level.is_open?'#/level/'+level.type:'javascript:void(0)'%>"
          data-type="<%=level.type%>"
          class="js-level-btn b-main__item b-main__item_<%=level.type%>
          <%=!level.is_open?'disabled':''%> <%=level.is_complete?'b-main__item_finished':''%>">
          <span class="b-main__item-title"><%=level.title%></span>
          <span class="b-main__item-subtitle"><%=level.subtitle%></span>
          <i class="fa fa-check"></i>
        </a>
      </span>
    <% }); %>
  </div>
</div>
