
.b-levels {
  padding-bottom: 20px;
  
  &__row {
    display: block;
    font-size: 0;
    line-height: 0;
  }

  &__cell {
    display: inline-block;
    padding: 10px 10px;
    margin: 1px 1px 0 0;
    .box-sizing(border-box);
  }

  &__item {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 38px;
    border: 1px solid #FFF;
    overflow: hidden;
    .border-radius(50%);
    .box-sizing(border-box);
    .btn-empty();

    // &, &:link, &:hover, &:visited {
    //   text-decoration: none;
    //   color: #FFF;
    // }
    // &:hover {
    //   background: rgba(255,255,255,0.2);
    // }

    & .fa {
      font-size: 0;
      line-height: 38px;
    }

    &_main {
      line-height: 36px;
      font-size: 20px;
      border-width: 2px;
      & .fa {
        line-height: 36px;
      }
    }

    &_finished {
      font-size: 0;
      .fa {
        font-size: 18px;
      }
    }
  }
}
