
.b-topbar {
  height: 30px;
  padding: 0 5px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 100;
  color: rgba(255,255,255,0.8);

  &__level, &__score, &__pause, &__back {
    display: block;
  }
  &__level, &__back {
    float: left;
  }
  &__score {
    width: 150px;
    margin: 0 auto;
    font-size: 26px;
  }
  &__pause {
    float: right;
  }
  &__back .fa {
    font-size: 22px;
  }
}